
{% extends "base_detail_list.html" %}
	{% block title %}天天生鲜-商品列表{% endblock title %}

{% block main_content %}
	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">{{ now_type.name }}</a>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
                    {% for new in new_sku %}
					    <li>
						    <a href="/detail/{{ new.id }}"><img src="{{ new.image.url }}"></a>
						    <h4><a href="/detail/{{ new.id }}">{{ new.name }}</a></h4>
						    <div class="prize">￥{{ new.price }}</div>
					    </li>
                    {% endfor %}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<div class="sort_bar">
				<a href="{% url 'goods:list' now_type.id 1 %}" {% if sort == "default"%}class="active" {% endif %}>默认</a>
				<a href="{% url 'goods:list' now_type.id 1 %}?sort=pri" {% if sort == "pri"%}class="active" {% endif %}>价格</a>
				<a href="{% url 'goods:list' now_type.id 1 %}?sort=hot" {% if sort == "hot"%}class="active" {% endif %}>人气</a>
			</div>

			<ul class="goods_type_list clearfix">
                {% for good in page %}
				<li>
					<a href="/detail/{{ good.id }}"><img src="{{ good.image.url }}"></a>
					<h4><a href="/detail/{{ good.id }}">{{ good.name }}</a></h4>
					<div class="operate">
						<span class="prize">￥{{ good.price }}</span>
						<span class="unit">{{ good.price }}/{{ good.unite }}</span>
						<a href="#" class="add_goods" title="加入购物车"></a>
					</div>
				</li>
                {% endfor %}

			</ul>

			<div class="pagenation">
                {# 判断是否有上一页 #}
                {% if page.has_previous %}
                    <a href="/list/{{ now_type.id }}/{{ page.previous_page_number }}?sort={{ sort }}">上一页</a>
                {% else %}
                    <a>无上页</a>
                {% endif %}
                {# 设置页码列表 #}
                {% for li in page_list %}
                    {# 如果是当前页不设置链接 #}
                    {% if li == page.number %}
				        <a href="#" class="active">{{ li }}</a>
                    {% else %}
                        <a href="/list/{{ now_type.id }}/{{ li }}?sort={{ sort }}">{{ li }}</a>
                    {% endif %}
                {% endfor %}
                {# 判断是否有下一页 #}
                {% if page.has_next %}
                    <a href="/list/{{ now_type.id }}/{{ page.next_page_number }}?sort={{ sort }}">下一页</a>
                {% else %}
                    <a>无下页</a>
                {% endif %}
			</div>
		</div>
	</div>
{% endblock main_content %}

